In [1]:
import pandas as pd
import numpy as np
import os
path = os.path.dirname("")
path1 = os.path.join(path, 'dataset/processed_cleveland.csv')
path2 = os.path.join(path, 'dataset/processed_hungarian.csv')
path3 = os.path.join(path, 'dataset/processed_switzerland.csv')
path4 = os.path.join(path, 'dataset/processed_va.csv')

df1 = pd.read_csv(path1)
df2 = pd.read_csv(path2)
df3 = pd.read_csv(path3)
df4 = pd.read_csv(path4)

df1 = df1.replace('?', np.nan)
df2 = df2.replace('?', np.nan)
df3 = df3.replace('?', np.nan)
df4 = df4.replace('?', np.nan)

col = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']
df1.columns = col
df2.columns = col
df3.columns = col
df4.columns = col

print("Cleveland data. Size={}\nNumber of missing values".format(df1.shape))
print(df1.isna().sum())

print("\nHungary data:. Size={}\nNumber of missing values".format(df2.shape))
print(df2.isna().sum())

print("\nSwitzerland data. Size={}\nNumber of missing values".format(df3.shape))
print(df3.isna().sum())

print("\nV.A Long Beach data. Size={}\nNumber of missing values".format(df4.shape))
print(df4.isna().sum())

df = pd.concat([df1, df2, df3, df4])
df=df.fillna(df.median())

df=df.drop(['oldpeak', 'slope','ca', 'thal'], axis=1)
print("Concatanated dataset. Size={}\nNumber of missing values".format(df.shape))
print(df.isna().sum())

df.to_csv(os.path.join(path, 'recons_dataset/combined_dataset.csv'), index=False)

df.head()

Cleveland data. Size=(302, 14)
Number of missing values
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          4
thal        2
num         0
dtype: int64

Hungary data:. Size=(293, 14)
Number of missing values
age           0
sex           0
cp            0
trestbps      1
chol         23
fbs           8
restecg       1
thalach       1
exang         1
oldpeak       0
slope       189
ca          290
thal        265
num           0
dtype: int64

Switzerland data. Size=(122, 14)
Number of missing values
age           0
sex           0
cp            0
trestbps      2
chol          0
fbs          74
restecg       1
thalach       1
exang         1
oldpeak       6
slope        17
ca          117
thal         51
num           0
dtype: int64

V.A Long Beach data. Size=(199, 14)
Number of missing values
age           0
sex           0
cp            0
trestbps     56
chol          7
fbs           7
restecg       0
thalach      53
exang        53
oldpeak      56
slope       102
ca          197
thal        165
num           0
dtype: int64
Concatanated dataset. Size=(916, 10)
Number of missing values
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
num         0
dtype: int64

   age  sex  cp trestbps chol fbs restecg thalach exang  num
0   67    1   4      160  286   0       2     108     1    2
1   67    1   4      120  229   0       2     129     1    1
2   37    1   3      130  250   0       0     187     0    0
3   41    0   2      130  204   0       2     172     0    0
4   56    1   2      120  236   0       0     178     0    0